.text-center
  %h1 Hirundo Messages

  = show_success_messages
  = show_error_messages

  %form.spacer{ method: "post", role: "form" }
    .form-group
      %label{ for: "message" } Share a message:
      .col-xs-6.centered
        %textarea.form-control{ id: "content", name: "content", rows: "2" }
    .form-group
      %label{ for: "place" } Location:
      .col-xs-6.centered
        %input.form-control{ type: "text", id: "location", name: "location" }
    %button.btn.btn-default{ type: "submit" } Share

  %h2.spacer Your feed
