- if locals[:messages]
  .table-responsive
    %table.table.table-condensed
      %tr
        %th.text-center Message
        %th.text-center Location
        %th.text-center Date
        %th.text-center User

      - locals[:messages].each do |message|
        %tr
          %td= message.content
          %td= message.location
          %td= date_to_string(message.date)
          %td= message.user.username
