%nav.navbar.navbar-default.navbar-inverse.navbar-static-top
  %a.navbar-brand{ :href => "/" } Hirundo
  %ul.nav.navbar-nav
    %li
      %a{ href: "/login" } Login
    %li
      %a{ href: "/register" } Register
