.messages.container
- if locals[:messages]
  - locals[:messages].each do |message|
    .panel.panel-default.spacer
      .panel-heading.inline
        %strong
          - if locals[:followed].include? message.user.username
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          = '<a href="/user/profile/' + message.user.username + '">' + message.user.username + '</a>:'
        .right
          = minutes_in_words(message.date)
      .panel-body
        = print_message_content(message)
        - if !message.location.empty?
          .right
            %span.glyphicon.glyphicon-map-marker
              = message.location
