.spacer {
    margin-top: 30px;
}

.centered {
    margin: 0 auto;
    float: none;
}

.right-spacer {
    margin-right: 15px;
}

.alert {
    width: 50%;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
